{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}E-Shop{% endblock %}</title>
    
    <!-- External CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;600;700&display=swap" rel="stylesheet">

    
    {% block extra_head %}{% endblock %}
</head>
<body>
    <!-- Navbar (same on all pages) -->
    <header>
        <nav class="navbar">
            <div class="container">
                {% comment %} <a class="brand" href="{% url 'home' %}">Islington marketplace</a> {% endcomment %}
                <ul class="nav-links">
                   
                    <li><a href="{% url 'home'%}">Home</a></li>
                    <li><a href="{% url 'product'%}">Products</a></li>
                    <li><a href="{% url 'productlist'%}">ProductList</a></li>
                    <li><a href="">Orders</a></li>
                    <li><a href="">Logout</a></li>
                 
                </ul>
            </div>
        </nav>
    </header>

 <main>
    {% block content %}
 
<div class="hero-container">
  <img class="slide" src="{% static 'images/sh.jpg' %}" alt="Store Image">
  <img class="slide" src="{% static 'images/a.jpg' %}" alt="a">
  <img class="slide" src="{% static 'images/b.jpg' %}" alt="b">
  <img class="slide" src="{% static 'images/c.jpg' %}" alt="c">


<img src="https://images.unsplash.com/photo-1593642634367-d91a135587b5?auto=format&fit=crop&w=800&q=80" alt="Storefront Items" width="600">





  <div class="hero-text">
    <span>Welcome to Islington Store</span>
  </div>
</div>
    {% endblock %}
</main>


    <footer>
        
        <div class="container">
            &copy; {{ year|default:2025 }} E-Shop. All rights reserved.
        </div>
    </footer>

    {% block extra_js %}
<script>
let slides = document.querySelectorAll(".hero-container img");
let index = 0;

function showSlide() {
    slides.forEach((slide, i) => {
        slide.classList.remove("active");
        if (i === index) {
            slide.classList.add("active");
        }
    });
    index = (index + 1) % slides.length;
}

showSlide(); // Show first slide
setInterval(showSlide, 4000); // Change every 4 sec
</script>
{% endblock %}


 
</body>



</html>
